{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% if title %}
    <title>Neighbourhood</title>
    {% else %}
    <title> {{ title }} </title>
    {% endif %}

    <link rel="shortcut icon" href="assets/favicon.ico">
    {% block styles %}
    <link rel="stylesheet" href="/static/vendor/open-iconic/css/open-iconic-bootstrap.min.css">
    {% bootstrap_css %}
    <link rel="stylesheet" href="/static/vendor/bootstrap/css/bootstrap.min.css">
    {% endblock %}

</head>

<body>
    {% include 'navbar.html' %}
    
                <li class="nav-item dropdown header-nav-dropdown">
                    <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="oi oi-grid-three-up"></span>
                    </a>
                    <!-- /.dropdown-sheet-item -->
            </div>
            <!-- .dropdown-sheets -->
        </div>
        <div class="dropdown">
            <button class="btn-account d-none d-md-flex" type="button" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <span class="user-avatar">
                    <img src="{{ request.user.profile.profile_picture.url }}" alt="">
                </span>
                <span class="account-summary pr-lg-4 d-none d-lg-block">
                    <span class="account-name"> {{ request.user.username }} </span>
                    <span class="account-description"> {{ request.user.profile.neighborhood.name }}
                    </span>
                </span>
            </button>
        </div>

        <button class="btn-account" type="button" data-toggle="collapse" data-target="#dropdown-aside">
            <span class="user-avatar user-avatar-lg">
                <img src="{{ request.user.profile.profile_picture.url }}" alt="">
            </span>
            <span class="account-summary">
                <span class="account-name"> {{ request.user.username }} </span>
                <span class="account-description"> {{ request.user.profile.neighborhood.name }} </span>
            </span>
        </button>

        {% block content %}
        {% endblock %}
</body>

</html>