<section class="converstations" role="log">
        {% if comments %}
        <!-- .conversation list -->
        <ul class="conversation-list ">
            {% for comment in comments %}

            {% if comment.update.id == update.id %}
            <!-- .conversation-inbound -->
            <li class="conversation-inbound">
                <!-- .conversation-avatar -->
                <div class="conversation-avatar">
                    <a href="/member/{{ comment.user.username }}" class="user-avatar user-avatar-sm">
                        <img src="{{ comment.user.profile.profile_picture.url }}" alt="#">
                    </a>
                </div>
                <!-- /.conversation-avatar -->
                <!-- .conversation-message -->
                <div class="conversation-message">
                    <div class="conversation-meta">
                        <a href="#" class="mr-2">
                            <strong>@ {{ comment.user.username }} </strong>
                        </a>
                        <span class="time"> {{ comment.comment_date|timesince }} </span>
                    </div>
                    <div class="conversation-message-text">
                        {{ comment.comment }}
                    </div>
                    <div class="conversation-meta">
                        {% if request.user == comment.user %}
                        <a href="#">Delete</a>
                        {% endif %}
                    </div>
                </div>
                <!-- /.conversation-message -->
            </li>
            <!-- /.conversation-inbound -->
            {% endif %}
            {% endfor %}
            <!-- ./ for comments -->
        </ul>

        {% else %}
        <li class="conversation-inbound">
            <div class="conversation-message">
                Be the first to comment !
            </div>
        </li>
        {% endif %}
        <!-- ./if comments -->
    </section>
    <!-- .card-footer -->
    <footer class="card-footer conversations conversation-action mt-3 ">

        <div class="media col-md-12 ">
            <figure class="user-avatar user-avatar-sm mt-1 mr-2">
                <img src="{{ request.user.profile.profile_picture.url }}" alt="#">
            </figure>
            <!-- .media-body -->
            <div class="media-body">
                <!-- .publisher -->
                <div class="publisher publisher-alt">
                    <!-- .comment form -->
                    <form action="{% url 'comment' update_id=update.id %}" method="POST">

                        <!-- .publisher-input -->
                        <div class="publisher-input">
                            {% csrf_token %}
                            {% bootstrap_form comment_form layout='inline'%}
                        </div>
                        <!-- /.publisher-input -->
                        <!-- .publisher-actions -->
                        <div class="publisher-actions">
                            <!-- .publisher-tools -->
                            <div class="publisher-tools mr-auto">
                                <button type="button" class="btn btn-link fileinput-button">
                                    <i class="fa fa-paperclip"></i>
                                    <input type="file" id="message-attachment" name="attachment[]" multiple>
                                </button>
                                <button type="button" class="btn btn-link">
                                    <i class="far fa-smile"></i>
                                </button>
                            </div>
                            <button type="submit" class="btn btn-primary">Comment</button>
                        </div>
                    </form>