
{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{{block.super}}

<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="page-section row ">

                <div class="col-md-2"></div>

                <!-- .masonry-item -->
                <div class="masonry-item col-md-8 ">
                    <!-- .card -->
                    <section class="card card-fluid">
                            <!-- new hood form -->
                            <form action="{% url 'new_hood' %}" method="POST" enctype="multipart/form-data" " role="dialog" aria-labelledby="hood-add-modal" >
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div style="background-color:#1da1f2 !important" class="modal-header">
                                            <h5 class="modal-title text-center">New Hood</h5>
                                        </div>
                                        <!--end of modal head-->
                                        <div class="modal-body">
                                            <!-- forms here -->
                                            {% csrf_token %}
                                            {% bootstrap_form hood_form %}
                                        </div>
                                        <!--end of modal body-->
                                        <div class="modal-footer">
                                            <button role="button" class="btn btn-info" type="submit">
                                                Create Group
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- ./new hood form -->
                    </section>
                    <!-- /.card -->
                </div>
                <!-- /.masonry-item -->
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}