{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}

<header class="page-title-bar">
    <p class="lead">
        <span class="font-weight-bold">Hi, {{ request.user.username|title }}.</span>
        <span class="d-block text-muted"> What’s new ?</span>
    </p>
</header>
<div class="metric-row">
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <div class="metric-row metric-flush ">
            <div class="col">
                <form method="POST" action="{% url 'updates' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% bootstrap_form update_form layout='inline' %}
                    <button role="button" class="btn btn-primary" type="submit">
                        Submit
                    </button>
                </form>

            </div>
        </div>
        <hr>

        {% if updates %}
        {% for update in updates %}
        <!-- .feed-post -->
        <section class="feed-post card">
            <!-- .card-header -->
            <header class="card-header card-header-fluid">
                <a href="#" class="btn-account" role="button">
                    <div class="user-avatar user-avatar-lg">
                        <img src="{{ update.user.profile.profile_picture.url }}" alt="#"> </div>
                    <div class="account-summary">
                        <p class="account-name"> @{{ update.user.username }} </p>
                        <p class="account-description"> {{ update.neighbour.name }} Member · {{ update.post_date }} </p>
                    </div>
                </a>
                {% if request.user == update.user %}
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="/updates/{{update.hood.name}}/delete/{{ update.id }}" class="dropdown-item">Delete</a>
                </div>
                {% endif %}
            </header>
            <div class="card-body">
                <p class="mb-2"> <a href="#">@{{ update.neighbour.admin }} ( {{ update.neighbour.name }} Admin ) </a>
                    {{ update.post }}
                </p>

                <img class="img-fluid" src=" {{ update.picture.url }} " alt="Card image cap">


            </div>
    </div>
</div>

{% endfor %}
{% endif %}
</div>

{% endblock %}