{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<div class="container" style="text-align: center">
    <div class="masonry-item col-md-12 ">
        <div class="card-panel">
            <span class="font-weight-bold">Hi, {{ request.user.username|title }}.</span>
            <span class="d-block text-muted"> What’s new ?</span>

            <div class="metric-row">
                <div class="col-md-1"></div>
                <div class="col-md-8">
                    <div class="metric-row metric-flush ">
                        <div class="col">
                            <form method="POST" action="{% url 'updates' %}" enctype="multipart/form-data">
                                {% csrf_token %}
                                {% bootstrap_form update_form layout='inline' %}
                                <button role="button" class="btn btn-primary" type="submit">
                                    Submit
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
                {% if updates %}
                {% for update in updates %}
                <!-- .feed-post -->

                <a href="#" class="btn-account" role="button">
                    <div class="user-avatar user-avatar-lg">
                        <img src="{{ update.user.profile.profile_picture.url }}" alt="#"> </div>
                    <div class="account-summary">
                        <p class="account-name"> @{{ update.user.username }} </p>
                        <p class="account-description"> {{ update.neighbour.name }} Member · {{ update.post_date }} </p>
                    </div>
                </a>
                </header>
            </div>
        </div>
    </div>
    <style>
        body {
            background-image: url('https://www.porreda.com/acatalog/SY3030.jpg');
            background-size: cover;
        }
    </style>
</div>
{% endfor %}
{% endif %}
</div>
{% endblock %}