{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
{{block.super}}

<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <div class="page-section row ">
                <div class="col-md-2"></div>
                <!-- .masonry-item -->
                <div class="masonry-item col-md-8 ">
                    <!-- .card -->
                    <section class="card card-fluid">
                        <!-- .card-body -->
                        <div class="card-body text-center">
                            <h3 class="card-title text-truncate">
                                {{neighbourhood.name|upper }}
                            </h3>
                            <h4 class="card-subtitle text-muted mb-3"> {{ Neighbourhood.city|upper }} </h4>
                            <section class="card card-fluid">
                                <!-- .card-body -->
                                <div class="card-body">

                                    <h5 class="card-title">{{ neighbors.count }} Members Online </h5>
                                    {% for neighbours in neighbors %}
                                    <figure class="user-avatar user-avatar-lg dropdown">
                                        <div class="dropdown-menu">
                                            <a href="/member/{{ neighbours.user.username }}" class="dropdown-item">Online</a>
                                        </div>
                                    </figure>
                                    {% endfor %}
                                </div>
                            </section>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}