{% extends 'registration/base.html' %}
{% load bootstrap4 %}
{% block content %}
{{block.super}}
<main class="auth">
    <header id="auth-header" class="auth-header" style="background-image: url(assets/images/illustration/img-1.png);">
        <h1>
            <img src="assets/images/brand-inverse.png" alt="" height="72">
            <span class="sr-only">Sign In</span>
        </h1>
        <p> Don't have a account?
            <a href="/accounts/register"> Sign Up </a>
        </p>
    </header>
    <!-- form -->
    <form action="/accounts/login/"  class="auth-form" method="POST" >
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In</button>
        </div>
    </form>

    <!-- copyright -->
    <footer class="auth-footer"> © 2018 All Rights Reserved.
        <a href="#">Privacy</a> and
        <a href="#">Terms</a>
    </footer>
</main>
{% endblock %}
